/**
 * Content Style Sheet
 * Beauty Clinic
 *
 * Copyright (c) 2021. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

body {
	padding: 2em calc(~'(100% - 800px)' / 2);
}

section#main {
	padding: 2em;

	img.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	form {
		label {
			.elements-in-row(3, 1em, 1);
			display: inline-block;
			vertical-align: top;

			&:nth-of-type(4),
			&:nth-of-type(5) {
				width: 40%;
			}

			&:nth-of-type(6) {
				display: block;
				width: auto;
			}

			&.checkbox {
				display: inline-block;
				margin-bottom: 0;
				margin-left: 1rem !important;

				&::before {
					content: '\A';
					white-space: pre;
				}
			}

			&.disabled {
				pointer-events: none;
				opacity: 0.5;
			}
		}

		label textarea {
			height: 10rem;
			resize: none;
		}
	}
}

/**
 * Copyright
 */

div.copyright {
	color: @color_text;
	text-align: center;

	background-position: calc(~'(50% - 100px)') center;
}
