/**
 * Controls Style Sheet
 * Way2CU
 *
 * Copyright (c) 2021. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 * Version: 0.1;
 */

/**
 * Containers and boxes
 */
.container {
	background-color: rgb(240, 240, 240);
	border: none;
	box-shadow: none;
}

.box {
	display: block;
	padding: 1rem;

	border: 1px solid rgb(220, 220, 220);
	border-radius: 1rem;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.3);
	text-align: center;

	&.warning {
		border: 1px solid rgb(253, 210, 83);
		box-shadow: 1px 1px 3px rgba(253, 210, 83, 0.48);
	}

	&.error {
		border: 1px solid rgb(255, 60, 0);
		box-shadow: 1px 1px 3px rgba(255, 60, 0, 0.48);
	}

	// inner container which contains items
	.container-with-items {
		padding: 1rem;
		box-sizing: border-box;

		border: 1px solid rgb(220, 220, 220);
		border-radius: 0.5rem;
		background-color: rgb(240, 240, 240);
		box-shadow: inset 1px 1px 3px rgba(200, 200, 200, 0.3);

		.item {
			padding: 1rem;
			box-sizing: border-box;

			border: 1px solid rgb(220, 220, 220);
			border-radius: 0.3rem;
			background-color: white;
			box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.3);
			box-sizing: border-box;

			// disable typical list item look
			list-style-type: none;
			list-style-image: none;

			&.active,
			&.highlight-on-hover:hover {
				border-color: #046598;
				box-shadow: 1px 1px 3px rgba(5, 132, 199, 0.3);
			}
		}
	}
}

/**
 * Forms
 */
form {
	label {
		display: block;
		margin-bottom: 1rem;

		&.horizontal {
			display: inline-block;
			vertical-align: top;
			margin-right: 1em;

			html[dir=rtl] & {
				margin-right: auto;
				margin-left: 1em;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		span {
			display: block;
			text-align: left;

			html[dir=rtl] & {
				text-align: right;
			}
		}

		input {
			width: 100%;
			padding: 0.4rem;
			min-height: 1.2rem;
			box-sizing: border-box;

			border: 1px solid rgb(210, 210, 210);
			border-radius: 0.2rem;
			background-color: rgb(250, 250, 250);
			box-shadow: inset 1px 1px 3px rgba(100, 100, 100, 0.2);

			&:focus {
				border-color: #0584c7;
				outline: none;
			}

			&[type=radio] {
				display: inline-block;
				vertical-align: top;

				& + span {
					display: inline-block;
					vertical-align: top;
				}
			}
		}

		textarea {
			width: 100%;
			padding: 0.4rem;
			min-height: 1.2rem;
			box-sizing: border-box;

			border: 1px solid rgb(210, 210, 210);
			border-radius: 0.2rem;
			background-color: rgb(250, 250, 250);
			box-shadow: inset 1px 1px 3px rgba(100, 100, 100, 0.2);

			&:focus {
				border-color: #0584c7;
				outline: none;
			}
		}

		select {
			width: 100%;
			height: 2.2rem;
			padding: 0.3rem;
			box-sizing: border-box;

			border: 1px solid rgb(210, 210, 210);
			border-radius: 0.2rem;
			background-color: rgb(250, 250, 250);
			box-shadow: inset 1px 1px 3px rgba(100, 100, 100, 0.2);

			&:focus {
				border-color: #0584c7;
			}
		}
	}

	hr {
		height: 1px;
		margin-top: 1em;
		margin-bottom: 1em;

		border: 0;
		background-color: #0584c7;
		line-height: 0;
		opacity: 0.2;
	}

	div.controls {
		display: block;
		margin-top: 1em;
	}
}

/**
 * Buttons and links
 */
button,
.button {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.4rem 1rem;

	border: 1px solid #046598;
	border-radius: 0.4rem;
	border-bottom-width: 3px;
	background-color: #0584c7;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

	color: white;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: #0697e4;
	}

	&:active {
		border-top-width: 3px;
		border-bottom-width: 1px;
		background-color: #0584c7;
	}

	&.warning {
		border-color: #d6642b;
		background-color: #FF7733;

		&:hover {
			background-color: #ff894e;
		}

		&:active {
			background-color: #FF7733;
		}
	}

	&:disabled,
	&.warning:disabled {
		border: 1px solid rgb(210, 210, 210);;
		border-radius: 0.4rem;
		border-bottom-width: 3px;
		background-color: rgb(230, 230, 230);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
		color: rgb(50, 50, 50);
		pointer-events: none;
	}
}
